node_modules
dist
.git
.gitignore
.env
.env.*
*.md
.editorconfig
.eslintrc*
.prettierrc*
jest.config.*
tsconfig.json
.vscode
.idea
coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db